.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 50px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: azure;
}

.title {
  font-size: 40pt;
  color: rgb(50, 62, 62);
}

button {
  margin-top: 20px;
  margin-left: 300px;
  border: none;
  background: grey;
  color: white;
  padding: 8px;
  border-radius: 10px;
}

.WeatherContainer {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  font-size: 16pt;
  box-shadow: -2px -2px 8px rgb(94, 94, 94);
  padding: 30px;
  border-radius: 50px;
}

input {
  font-size: 14pt;
  background-color: white;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
}

.cityName {
  font-size: 20pt;
  color: rgb(29, 46, 129);
}

.data {
  padding-left: 40px;
}